
body {                                              
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url("./app/zakynthos-greece-wallpaper-1.jpg");
}

h1 {
  color: rgb(255, 255, 255);    /*o titlos musicplaylist*/
  font-size: 700%;
  text-align: center;
}


  
.box{
  position: absolute;                  /*to type an artist kai search ws sunolo*/
  top: 30%;
  left: 50%;
  width: 500px;
  transform: translate(-50%,-50%);
}

input{                        /* to megethos tou search kai tou type an artist*/
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s; 
}

input[type="text"]               /* to  koutaki type an artist*/
{
  background: #fff;
  width: 340px;
  height: 60px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  
}

input[type="submit"]        /*to search*/
{
  position: relative;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  background:rgb(84, 202, 248); 
}

input[type="submit"]:hover{
  background: rgb(16, 165, 65);   /* pws to search ginete prasino  */
}